<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>detail テストページ<h1>
	<div>
		<form name="profile">
 		 <input type="text" name="id"> <!-- 입력란 -->
  			<select> <!-- 드롭다운 메뉴 -->
  			  <option value="blue">red</option>
  			  <option value="blue">blue</option>
  			  <option value="blue">green</option>
 			</select>
  		<input type="submit" value="Submit"> <!-- 서버 제출 버튼 -->
		</form>
	</div>	
		
</body>
</html>