<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ショップサイト</title>
</head>
<body>
	
	<div style=color:cadetblue>
		<h1>ショップページ</h1>
	</div> 
		<h2>hello world!</h2>
			
	<div th:text="${session.userId}"></div>		
	<a th:href="@{/loginOnSession}">ログイン</a>
	<a th:href="@{/logout}">ログアウト</a>
	
	<br> 
	<ul>
		<li><a th:href="@{/items/findAll}">全件検索</a></li>
		<li><a th:href="@{/items/findAllByOrderByPriceDesc}">並び替え検索</a></li>
		<li><a th:href="@{/items/getReferenceById/1}">主キー検索(1)</a></li>
		<li><a th:href="@{/items/getReferenceById/3}">主キー検索(3)</a></li> 
		<li><a th:href="@{/items/findByPrice/100}">価格検索(100)</a></li>
		<li><a th:href="@{/items/findAllAndSetDropdown}">選択コントロール</a></li> 
		<li><a th:href="@{/items/create/input}">登録</a></li> 
		<li><a th:href="@{/items/update/input/1}">更新(1)</a></li> 
		<li><a th:href="@{/items/delete/input}">削除</a></li> 
		<li><a th:href="@{/items/create/input/hidden}">隠しコントロールによる値渡し</a></li> 
		<li><a th:href="@{/items/findItemAndCategory}">外部参照検索</a></li> 
		<li><a th:href="@{/items/searchWithNamedQuery/1}">NamedQueryによる検索</a></li> 
		<li><a th:href="@{/items/searchWithQuery/1}">Queryによる検索</a></li> 
		<li><a th:href="@{/items/searchWithQuery}">Queryの活用例 サブクエリ</a></li> 
		<li><a th:href="@{/loginWithValidation}">入力チェック</a></li> 
	 </ul>

</body>
</html>